<launch>
    <arg name="sim" default="true"/>

    <arg name="world_path" default="$(find add_post_pro_simulation)/world/add_post_pro.world"/>
    <arg name="config_name" default="$(find add_post_pro_bringup)/rviz/add_post_pro_default.rviz"/>
    <arg name="x" default="-0.01"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.0925"/>

    <arg name="ip_address" default="128.2.56.10"/>

    <!-- "box" or "turntable" -->
    <arg name="processing_phase" default="box"/>
    <arg name="direct_joint_control" default="false"/>
    <arg name="denso_robot" default="vs6577"/>
    <arg name="robot_name" default="add_post_pro_robot_b120"/>
    <arg name="load_robot_description" default="true"/>
    <arg name="robot_description" default="robot_description"/>
    
    <!-- Publish joint states -->
    <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="true"/>
        <param name="publish_frequency" type="double" value="125.0" />
        <rosparam param="source_list" subst_value = "true">[/$(arg robot_name)/joint_states]</rosparam>
    </node> -->

    <!-- Run gazebo and moveit -->
    <include if="$(arg sim)" file="$(find add_post_pro_simulation)/launch/add_post_pro_sim_bringup_gripper.launch">
        <arg name="direct_joint_control" value="$(arg direct_joint_control)"/>
        <arg name="processing_phase" value="$(arg processing_phase)"/>
        <arg name="load_robot_description" value="$(arg load_robot_description)"/>
        <arg name="robot_description" value="$(arg robot_description)"/>
        <arg name="robot_name" value="add_post_pro_robot"/>
        <arg name="world_path" value="$(arg world_path)"/>
        <arg name="x" value="$(arg x)"/>
        <arg name="y" value="$(arg y)"/>
        <arg name="z" value="$(arg z)"/>
    </include>

    <include file="$(find add_post_pro_config)/launch/moveit_rviz.launch">
        <arg name="rviz_config" default="$(arg config_name)"/>
    </include>

    <include file="$(find add_post_pro_simulation)/launch/add_object_in_planning_scene_gripper.launch" />
    <include file="$(find add_post_pro_simulation)/launch/control_robot_arm.launch" />

    <include unless="$(arg sim)" file="$(find add_post_pro_bringup)/launch/add_post_pro_3050_bringup.launch">
        <arg name="ip_address" value="$(arg ip_address)"/>
        <arg name="denso_robot" value="$(arg denso_robot)"/>
    </include>

</launch>
