<?xml version="1.0"?>
<model>
  <name>support_frame</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Tomasz Swierzewski</name>
   <email>tswierze@andrew.cmu.edu</email>
  </author>

  <description>
    Workspace frame for depowdering robot in Hamerschlag B120:
        Sample box surface
        Cage Frame
        Sample scan surface
  </description>
</model>
